<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/static/themes/synchro-blue.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.structure-1.4.3.min.css" type="text/css" />


    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
<form class="ui-grid-b" method="POST">
    <div class="ui-block-a">

    </div>
    <div class="ui-block-b">
        <img src="/static/images/01-SOL-logo.jpg" width="405px">
    </div>
    <div class="ui-block-a">

    </div>
    <div class="ui-block-b">
        <label for="text-name" class="ui-hidden-accessible">Login Name:</label>
        <input type="text" name="text-name" id="text-name" placeholder="Login Name" value="" data-clear-btn="true">
        <label for="text-pass" class="ui-hidden-accessible">Password:</label>
        <input type="password" name="text-pass" id="text-pass" placeholder="Password" value="" data-clear-btn="true">
        <a href="#" class="ui-shadow ui-btn ui-corner-all ui-btn-b">Login</a>
    </div>
</form>
</body>
</html>