<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/themes/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/froala_editor.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/froala_page.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/synchro-blue.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.structure-1.4.3.min.css" type="text/css" />


    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/jquery.mobile-1.4.3.min.js"></script>

</head>
<body>
<div data-role="page" data-theme="b">
    <div data-role="header">
        {% block menu %}
            <h1>iLog 2.0</h1>
            <a href="#left-panel" data-role="buttton" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-icon-left ui-icon-search ui-btn-icon-notext">Default panel</a>
            <a href="#right-panel" data-role="buttton" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Default panel</a>
        {% endblock %}
    </div>

    <div class="ui-content">
        {% block content %}

        {% endblock %}
    </div>
    <div data-role="footer">
        {% block footer %}
            <a href="#" onclick="$.mobile.silentScroll(0)" data-role="button" class="ui-btn ui-btn-icon-right ui-icon-arrow-u ui-btn-icon-notext ui-corner-all">Scroll to Top</a>

        {% endblock %}
    </div>

    <div data-role="panel" id="left-panel" data-display="reveal">
        {% block search %}
        Search:
        {% endblock %}
    </div><!-- /left panel -->

    <div data-role="panel" id="right-panel" data-position="right" data-display="reveal">
        {% block config %}
        Config:
        {% endblock %}
    </div><!-- /right panel -->
</div>
</body>
</html>