<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/themes/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/jquery-ui.structure.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/jquery-ui.theme.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/froala_editor.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/froala_page.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/synchro-blue.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.icons.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/themes/jquery.mobile.structure-1.4.3.min.css" type="text/css" />


    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/jquery.mobile-1.4.3.min.js"></script>
    <script src="/static/js/jquery.highlight.js"></script>

</head>
<body>
<div data-role="page" data-theme="b">
    <div data-role="header">
        {% block menu %}
            <h1>Mmmm-Soul 3.1.42</h1>
            <div class="ui-btn-left" data-role="controlgroup" data-type="horizontal">
                <a href="#left-panel" data-role="buttton" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-icon-right ui-icon-search ui-btn-icon-notext">Search panel</a>
                <a href="#popupMenu" data-rel="popup" data-role="buttton" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-icon-right ui-icon-bullets ui-btn-icon-notext">Show Menu</a>
            </div>
            <div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
                <a href="/logout" data-role="buttton" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-icon-right ui-icon-power ui-btn-icon-notext">Log Out</a>
                <a href="#right-panel" data-role="buttton" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-btn-icon-right ui-icon-gear ui-btn-icon-notext">Config</a>
            </div>

            <div data-role="popup" id="popupMenu" data-theme="b">
                <ul data-role="listview" data-inset="true" style="min-width:210px;">
                    <li data-role="list-divider">Menu</li>
                    <li><a href="http://sol.synchrotron.org.au/stats/">Stats</a></li>
                    <li><a href="http://sol.synchrotron.org.au/logs/">Logs</a></li>
                    <li><a href="http://sol.synchrotron.org.au/handover/">Handover</a></li>
                    <li><a href="http://sol.synchrotron.org.au/roster/">Roster</a></li>
                </ul>
            </div>
        {% endblock %}
    </div>

    <div class="ui-content">
        {% block content %}

        {% endblock %}

    </div>
    <div data-role="footer" data-position="fixed">

        {% block footer %}

        {% endblock %}
    </div>



    <div data-role="panel" id="left-panel" data-theme="b" data-display="overlay">
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close Search</a></li>
        </ul>
        {% block search %}
        Search:
        {% endblock %}
    </div><!-- /left panel -->

    <div data-role="panel" id="right-panel" data-theme="b" data-position="right" data-display="overlay">
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Close Config</a></li>
        </ul>
        {% block config %}

        {% endblock %}
    </div><!-- /right panel -->
</div>
</body>
</html>